<template>
    <v-app>
        <!-- navigation -->
        <v-navigation-drawer v-model="drawer" app>
            <v-list>
                <v-list-item v-if="!guest">
                    <v-list-item-avatar>
                        <v-img src="https://randomuser.me/api/portraits/men/78.jpg"></v-img>
                    </v-list-item-avatar>
                    <v-list-item-content>
                        <v-list-item-title>John Leider</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

                <div class="pa-2" v-if="guest">
                    <v-btn block color="primary" class="mb-1">
                        <v-icon left> mdi-lock </v-icon>
                        Login
                    </v-btn>
                    <v-btn block color="success" class="mb-1">
                        <v-icon left> mdi-account </v-icon>
                        Register
                    </v-btn>
                </div>

                <v-divider></v-divider>

                <v-list-item 
                    v-for ="(item,index) in menus"
                    :key="`menu-` + index"
                    :to="item.route"
                >
                    <v-list-item-icon>
                        <v-icon left> {{item.icon}}</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title>{{item.title}}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>

            <template v-slot:append v-if="!guest">
                <div class="pa-2">
                    <v-btn block color="red" dark>
                        <v-icon left>mdi-lock</v-icon>
                        Logout
                    </v-btn>
                </div>
            </template>
        </v-navigation-drawer>
        <!-- Header -->
        <v-app-bar app color="success" dark v-if="isHome">
            <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
            <v-toolbar-title>SanbercodeApp {{this.$store.state.count}}</v-toolbar-title>

            <v-spacer></v-spacer>

            <v-btn icon>
                <v-badge color="orange" overlap>
                    <!-- <template v-slot:badge> -->
                        {{this.$store.state.count}}
                    <!-- </template> -->
                    <v-icon>mdi-cash-multiple</v-icon>
                </v-badge>
            </v-btn>

            <v-text-field
            slot="extension"
            hide-details
            append-icon="mdi-microphone"
            flat
            label="Search"
            prepend-inner-icon="mdi-magnify"
            solo-inverted
            >
            </v-text-field>

        </v-app-bar>

        <v-app-bar app color="success" dark v-else>
            <v-btn icon @click.stop="$router.go(-1)">
                <v-icon>mdi-arrow-left-circle</v-icon>
            </v-btn>


            <v-spacer></v-spacer>
            
            <v-btn icon>
                <v-badge color="orange" overlap>
                    <!-- <template v-slot:badge> -->
                        {{this.$store.state.count}}
                    <!-- </template> -->
                    <v-icon>mdi-cash-multiple</v-icon>
                </v-badge>
            </v-btn>
            
        </v-app-bar>

        <!-- Main -->
        <v-main>
            <v-container fluid>
                <v-slide-y-transition>
                    <router-view></router-view>
                </v-slide-y-transition>
            </v-container>
        </v-main>

        <!-- footer -->
        <v-card>
            <v-footer absolute app>
                <v-card-text class="text-center">
                    &copy; {{ new Date().getFullYear() }} - <strong>SanbercodeApp</strong>
                </v-card-text>
            </v-footer>
        </v-card>
    </v-app>
</template>

<script>
export default {
    name: 'App',
    data: ()=> ({
        drawer: false,
        menus: [
            { title: 'Home', icon: 'mdi-home', route:'/'},
            { title: 'Donations', icon: 'mdi-hand-heart', route:'/donations'},
            { title: 'Campaigns', icon: 'mdi-hand-heart', route:'/campaigns'},
            { title: 'Blogs', icon: 'mdi-hand-heart', route:'/blogs'}
        ],
        guest: false,
    }),
    computed: {
        isHome () {
            return (this.$route.path==='/' || this.$route.path==='/home')
        }
    },
}
</script>